.upload-section{

    margin-top:70px;

}

.upload-section h2{

    text-align:center;

    font-size:36px;

    margin-bottom:30px;

    color:#2E7D32;

}

.upload-card{

    max-width:850px;

    margin:auto;

    border-radius:20px;

    padding:40px;

}

.upload-area{

    border:3px dashed #4CAF50;

    border-radius:20px;

    padding:60px;

    text-align:center;

    cursor:pointer;

    transition:.3s;

}

.upload-area:hover{

    background:#F1F8E9;

}

.upload-area mat-icon{

    font-size:70px;

    width:70px;

    height:70px;

    color:#43A047;

}

.upload-area h3{

    margin-top:20px;

    font-size:28px;

}

.upload-area p{

    margin-top:10px;

    color:#666;

}

.upload-area span{

    display:block;

    margin-top:20px;

    color:#999;

}

.preview{

    margin-top:50px;

    text-align:center;

}

.preview img{

    width:350px;

    max-width:100%;

    border-radius:18px;

    box-shadow:0 10px 30px rgba(0,0,0,.15);

}

.buttons{

    margin-top:30px;

    display:flex;

    justify-content:center;

    gap:20px;

}
.loading{

    text-align:center;

    margin-top:30px;

    color:#2E7D32;

}

.result-card{

    margin-top:40px;

    padding:25px;

    border-radius:18px;

}

.result-card h2{

    margin-bottom:20px;

    color:#2E7D32;

}

.result-card pre{

    background:#f5f5f5;

    padding:20px;

    border-radius:10px;

    overflow:auto;

    font-size:14px;

}