<footer class="footer">

    <div class="footer-container">

        <h2>♻ AI Waste Detection & Recycling Assistant</h2>

        <p>
            AI-powered waste detection using Computer Vision,
            YOLO11, FastAPI and Angular 22.
        </p>

        <div class="tech-stack">

            <span>Angular 22</span>

            <span>FastAPI</span>

            <span>YOLO11</span>

            <span>Python</span>

            <span>OpenCV</span>

            <span>Material UI</span>

        </div>

        <div class="divider"></div>

        <div class="footer-bottom">

            <p>

                © 2026 AI Waste Detection & Recycling Assistant

            </p>

            <p>

                Developed by <strong>Muhammed Fayis</strong>

            </p>

        </div>

    </div>

</footer>
